# Ignore build outputs and dependencies
node_modules/
dist/
build/
coverage/

# Ignore lockfiles and system files
package-lock.json
package.json
.DS_Store
tsconfig.json

# ignore environmental file 
.env